# Flutter/Dart specific files
**/doc/api/
**/*.iml
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework/Info.plist
**/ios/Flutter/Flutter.framework/Info.plist
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_project.pbxproj
**/ios/Runner/GeneratedPluginRegistrant.*

**/android/build/
**/android/local.properties
**/android/*.iml
**/android/.gradle/
**/android/captures/
**/android/app/google-services.json

# Xcode (if using macOS)
**/*.xcworkspace/
**/*.xcuserdatad/

# Android Studio (if using Windows or Linux)
**/.idea/
**/*.iml
**/.metadata/
**/gradle/
**/build/

# Visual Studio Code specific files
.vscode/
.code-workspace

# Dart tools
.dart_tool/
.packages
.pub/
build/

# Other
*.lock
*.log
*.pid
*.seed
*.coverage
.installed.cfg
*.dat
*.db
*.sqlite
*.db-shm
*.db-wal
.idea/
*.iml
*.pyc
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
ios/Flutter/.last_build_id
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_project.pbxproj
ios/Flutter/Flutter.app/
ios/Flutter/ephemeral/.DS_Store
.dart_tool/
.build/
.ios/
.macos/
.windows/
.pub/
.pub-cache/
android/app/build/
build/
ios/Pods/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
macos/build/
windows/build/
